@font-face {
    font-family: 'Druk-Text-Cyr-Bold';
    src: url("../fonts/Druk-Text-Cyr-Bold.woff2") format("woff2"), url("../fonts/Druk-Text-Cyr-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DrukCyr';
    src: url("../fonts/DrukCyr-Bold.woff2") format("woff2"), url("../fonts/DrukCyr-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

a, a:hover {
    color: #000 !important;
}

.flex__wrap {
    display: flex;
}

.post-body .post-title {
    padding-top: 45px;
    text-align: center;
}

.post-body h1 {
    font-family: 'DrukCyr', sans-serif;
    font-size: 50px;
    margin-bottom: 36px;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

/* ----------------- Header --------------- */
header {
    padding: 0 !important;
}

.header_container {
    max-width: 1205px;
    margin: 0 auto 30px;
    display: flex;
    padding-top: 14px;
    min-height: 140px;
    padding-left: 10px;
    padding-right: 10px;
}


.header__mobile {
    display: none;
}

.header__big_right {
    width: calc(100% - 190px);
}

    .header__desktop_logo {
        margin-left: -10px;
        margin-right: 20px;
    }

    .header__top,
    .header__bottom {
        justify-content: space-between;
    }

    .header__top {
        align-items: flex-end;
    }

    .header__bottom  {
        align-items: flex-end;
    }

        .header__bottom nav,
        .header__bottom nav ul {
            margin-bottom: 0 !important;
        }

            .header__bottom a {
                background: transparent !important;
                padding: 0 !important;
                height: auto !important;
                border-bottom: 2px solid transparent;
                text-decoration: none !important;
            }

    .header__bottom nav li {
        margin-right: 45px;
    }

    header .logo {
        margin-top: 13px;
    }

    .header__projects_wrap {
        gap: 30px;
        align-items: flex-end;
        margin-right: 10px;
    }

    .header_left_section {
        gap: 30px;
        padding-bottom: 5px;
    }

        .header__link,
        .header__projects_header {
            text-decoration: none;
            font-family: 'DrukCyr', sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            text-decoration: none;
            color: #000;
            text-align: left;
        }

        .header__link:hover,
        .header__link:active {
            text-decoration: underline;
        }

        .header__projects_link,
        .header__social_open {
            gap: 10px;
            display: flex;
            cursor: pointer;
        }

        .header__projects_link {
            align-items: baseline;
        }

        .header__social_open {
            align-items: center;
        }

        .header__projects,
        .header__links,
        .header__social_wrap  {
            padding-bottom: 5px;
        }

        .header__bottom {
            margin-top: -5px;
        }

        .header__projects_link:hover,
        .header__projects_link:active,
        .header__links_link:hover,
        .header__links_link:active {
            text-decoration: underline;
        }

        .header__projects_header {
            font-size: 14px;
            color: #000;
        }

        .header__links {
            position: relative;
            align-items: flex-end;
            padding-left: 25px;
        }

            .header__links::before {
                content: '';
                position: absolute;
                background-image: url(../img/bookmark.svg);
                background-repeat: no-repeat;
                width: 20px;
                height: 63px;
                top: -15px;
                left: -8px;
                background-size: cover;
                background-position: center;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .header__links_link {   
                border-right: 1px solid black;
                padding-right: 20px;
                margin-right: 20px;
            }

            .header__links .header__links_link:last-child {
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }

            .header__social_wrap {
                margin-left: 5px;
                position: relative;
                align-items: flex-end;
            }

                .header__social_wrap:hover .header__social_list {
                    display: block;
                    position: absolute;
                }

                .header__social_list {
                    padding: 25px 35px 5px;
                    background: #E2E2E2;
                    top: 45px;
                    display: none;
                }

                    .header__social_link {
                        margin-bottom: 20px;
                        display: block;
                    }

                    .header__social_link:hover,
                    .header__social_link:active {
                        text-decoration: underline;
                    }
    .header_right__section {
        flex-direction: column;
        justify-content: space-between;
        
        align-items: flex-end;
    }

        .header__right_top {
            gap: 20px;
            align-items: center;
            position: relative;
        }
        
        .header_in-account .header__subscription_wrap,
        .header_in-account .header__account_wrap,
        .header_in-account .header__search_wrap,
        .header_in-account .header__lang_wrap {
            padding-bottom: 10px;
        }

        .header__account_wrap {
            margin-right: 15px;
            margin-left: 5px;
        }
        

            .header__account_link {
                padding: 10px 20px;
                background: #E2E2E2;
                align-items: center;
                gap: 5px;
            }

            .header__account_link:hover {
                text-decoration: none;
                background: #C9C9C9;
            }
            .header__account_link:active {
                text-decoration: none;
                background: #60A874;
            }

        .header__account_link_white {
            align-items: center;
            gap: 5px;
        }

        .header__account_wrap:hover .header__account_list {
            display: block;
            position: absolute;
        }

                .header__account_list {
                    padding: 25px 35px 5px;
                    background: #E2E2E2;
                    top: 25px;
                    display: none;
                }

                    .header__account_item {
                        margin-bottom: 20px;
                        display: block;
                    }

                    .header__account_item:hover,
                    .header__account_item:active {
                        text-decoration: underline;
                    }

    .header__right_bottom .header_right_link svg {
        transition: 0.5s linear;
    }

    .header__right_bottom .header_right_link:hover svg {
        opacity: 0.3;
    }

    
    .header__mobile_wrap {
        display: none;
    }
    

    header .search .open-search {
        margin-top: 0;
    }

    header .search {
        position: static;
    }

    header .search-form {
        right: 0;
        height: 65px;
        top: -17px;
    }
/* ----------------- Header mobile--------------- */
.menu-open .header__search_wrap {
    display: none;
}

.menu-open .menu-btn {
    background-color: #f3f3f3;
}

.menu-open .header__mobile_wrap {
    display: block;
    padding-top: 0;
}

.menu-open .header__mobile_visible,
.header__mobile_light {
    background-color: #F3F3F3;
    text-align: center;
}

.menu-open header {
    background-color: #F3F3F3;
}

.header__mobile_dark {
    background-color: #D9D9D9;
    padding: 30px 20px;
}

.header__mobile_light {
    padding: 30px 20px;
}
.menu-open .header_left_section {
    display: block;
    max-width: 230px;
    margin: 0 auto;
}

.menu-open .header__section {
    margin-bottom: 20px;
}

    .menu-open .header__link {
        text-align: center;
        margin-bottom: 20px;
        display: block;
    }
    
    .menu-open .header__account_icon {
        margin: 0 auto 20px;
        text-align: center;
    }

    .menu-open .header__links {
        padding-left: 0;
        display: block;
    }

        .menu-open .header__links::before {
            display: none;
        }

        .menu-open .header__links_link {
            margin-right: 0;
            border-right: 0;
            padding-right: 0;
        }

    .menu-open .header__projects_header {
        color: #BDBDBD;
        cursor: auto;
        margin-bottom: 15px;
    }

    .menu-open .header__projects_wrap {
        margin-right: 0;
        justify-content: space-between;
    }

    .menu-open .header__projects_link {
        display: flex;
    }

    .menu-open .header__buy-subscribtion {
        margin-top: 40px;
        margin-bottom: 0 !important;
    }

    .menu-open .header__social_list {
        background-color: transparent;
        display: block;
        position: static;
        padding-top: 0;
        column-count: 2;
        margin-bottom: 30px;
    }

    .menu-open .header__social_open {
        justify-content: center
    }

    .menu-open .header__lang_link {
        margin-bottom: 0;
    }
/* ----------------- Faves --------------- */

.container-wide {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.b-news__short__faves {
    position: absolute !important;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    top: 5px;
    right: 5px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

    .b-news__short__faves a:before,
    .b-news__big__faves a:before {
        display: none;
    }

.b-news__big__faves {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    z-index: 1000;
    margin: 10px auto 0 auto;
    display: block;
}

    .b-news__big__faves a,
    .b-news__short__faves a {
        min-height: 17px !important;
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .b-news__short__faves:hover path,
    .b-news__short__faves:active path,
    .b-news__big__faves:hover path,
    .b-news__big__faves:active path {
        fill: black;
    }

.post-body .wide-box *:last-child {
    position: relative;
}

.post-meta__faves {
    position: absolute !important;
    width: 43px;
    height: 43px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: -80px;
    cursor: pointer;
}

    .post-meta__faves:hover path {
        fill: #000;
    }
/* ------------------ Rubric ------------------ */
.rubric__show-more {
    background: #E2E2E2;
}

    .rubric__show-more_blur {
        height: 340px;
        width: 100%;
        margin-top: -340px;
        display: block;
        background: rgb(226,226,226);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 100%);
      
    }

    .rubric__show-more_blur span {
        height: 340px;
        width: 100%;
        display: block;
        backdrop-filter: blur(1px);
        background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(226,226,226,1) 100%);
    }

    .rubric__show-more .container {
        background-color: #F1F1F1;
        max-width: 720px;
        margin: 0 auto;
        padding: 60px 40px;
    }

/* ------------------ Collections ------------------ */

.collections__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
}

    .collections__top .collections__top_link {
        font-family: 'DrukCyr', sans-serif !important;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }

        .collections__top .collections__top_link span {
            border-bottom: 2px solid transparent;
            letter-spacing: 1px;
        }

        .collections__top .collections__top_link svg {
            margin-right: 10px;
        }

    .collections__top .collections__top_link:first-child {
        display: inline-block;
        margin-right: 60px;
    }

        .collections__top .collections__top_link:hover span {
            border-bottom: 2px solid #000;
        }

    .collections__top_right .collections__top_link {
        margin-right: 0 !important;
    }
 
    .collections__sort {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }

        .collections__sort_header {
            font-family: 'RobotoMono';
            font-weight: 500;
            font-size: 12px;
            color: #8C8C8C;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 10px;
        }

        .collections__sort_item {
            margin-right: 25px;
            position: relative;
        }

            .collections__sort_item span {
                color: #8C8C8C;
                display: inline-block;
                font-family: 'RobotoMono';
                font-weight: 500;
                font-size: 12px;
                color: #8C8C8C;
                border-bottom: 1px solid transparent;
            }

                .collections__sort_item:hover span,
                .collections__sort_item:active span {
                    border-bottom: 1px solid #000;
                }

                .collections__sort_item:after {
                    content: '';
                    position: absolute;
                    background-image: url(../img/arrow_gray.svg);
                    background-repeat: no-repeat;
                    width: 11px;
                    height: 7px;
                    right: -15px;
                    top: 3px;
                }

                .collections__sort_item.open:after {
                    content: '';
                    position: absolute;
                    background-image: url(../img/arrow_gray.svg);
                    background-repeat: no-repeat;
                    width: 11px;
                    height: 7px;
                    right: -15px;
                    top: 3px;
                    transform: rotate(180deg);
                }

                .collections__sort_account .collections__sort_item:after {
                    top: 6px;
                }

.collections__list {
    margin: 0 auto;
}   

    .collections__item {
        position: relative;
        margin-bottom: 50px;
    }

    .collections__item.col-lg-3,
    .collections__item.col-md-6,
    .faves__item.col-lg-3,
    .faves__item.col-md-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
        .collections__item_wrap {
            display: block;
            text-decoration: none;
            width: 100%;
            min-height: 340px;
            position: relative;
            background: #ffffff;
            border: 1px solid #000000;
            z-index: 10;
        }

        .collections__item:after {
            content: '';
            position: absolute;
            width: 92%;
            min-height: 340px;
            height: 100%;
            border: 1px solid #858585;
            background-color: #ECECEC;
            top: 5px;
            left: 20px;
            z-index: 0;
        }

            .collections__item_img {
                width: 100%;
                margin-bottom: 22px !important;
            }

            .one-collection__item_img {
                margin-bottom: 4px !important;
            }

            .collections__item img {
                aspect-ratio: 4 / 2.7;
                width: 100%;
                object-fit: cover;
                margin-top: 0 !important;
            }

            .collections__item__header {
                text-align: center;
                padding: 0 10px;
                font-family: 'Druk-Text-Cyr-Bold', sans-serif !important;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 24px !important;
                line-height: 26px;
                letter-spacing: 0;
            }

            .collections__item__header svg {
                display: inline-block;
                margin-right: 5px;
            }

            .collections__item__header span {
                border-bottom: 1px solid #fff;
            }

            .collections__item_wrap:hover .collections__item__header span,
            .collections__item_wrap:active .collections__item__header span {
                border-bottom: 1px solid #e2e2e2;
            }

        .collections__item_bottom {
            padding: 0 10px;
            position: absolute;
            bottom: 10px;
        }

            .collections__faves_full span {
                display: inline-block;
                width: 16px;
                height: 15px;
                margin-top: -2px;
                margin-right: 5px;
                background: url(../img/star_active.svg)
            }

            .collections__faves_empty,
            .collections__faves_full {
                display: inline-flex;
                height: 16px;
                line-height: 19px;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                font-size: 10px;
                font-family: 'RobotoMono', sans-serif;
                font-weight: 600;
            }

                .collections__faves_empty span {
                    width: 16px;
                    height: 15px;
                    margin-top: -2px;
                    display: inline-block;
                    margin-right: 5px;
                    background: url(../img/star.svg)
                }


/* ------------------ Faves ------------------ */
.faves__wrap {
    padding-bottom: 40px;
}

    .faves__item {
        position: relative;
        margin-bottom: 50px;
    }

    .faves__item_wrap {
        text-decoration: none;
    }

        .faves__item_img {
            width: 100%;
            margin-bottom: 5px !important;
        }

        .faves__item_wrap img {
            width: 100%;
            object-fit: cover;
            margin-top: 0 !important;
            aspect-ratio: 4 / 2.7;
        }

        .faves__item_top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 17px;
            align-items: flex-end;
        }

        .faves__item_tag,
        .faves__item_slash,
        .faves__item_date {
            font-size: 10px;
            font-family: 'RobotoMono', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
        }

        .faves__item__header {
            padding-bottom: 0 !important;
            border-bottom: 1px solid #E2E2E2;
            background-repeat: no-repeat;
            margin-bottom: 15px;
        }

        .faves__item__header span {
            padding-bottom: 0 !important;
            border-bottom: 1px solid #E2E2E2;
        }

        .faves__item_wrap:hover .faves__item__header span {
            border-bottom: 1px solid #fff;
        }

        .faves__item_separator {
            width: 20px;
            height: 2px;
            margin: 0 auto 13px auto;
            display: block;
            background-color: #000;
        }

        .faves__item__description {
            font-family: 'Spectral';
            font-size: 14px !important;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            line-height: 20px !important;
            padding: 0 10px;
        }

        .faves__item_delete {
            display: flex;
            align-items: center;
            font-size: 10px;
            font-family: 'RobotoMono', sans-serif;
            font-weight: 600;
            text-decoration: none;
        }

        .faves__item_delete svg {
            margin-right: 5px;
        }

            .faves__item_delete div {
                line-height: 15px;
                border-bottom: 1px solid transparent;
            }

            .faves__item_delete:hover div {
                border-bottom: 1px solid #000;
            }

        
/* ------------------ One collection ------------------ */
.one-collection__sort {
    justify-content: space-between;
}
.one-collection_wrap {
    display: flex;
}

    .one-collection_edit {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .one-collection_edit svg {
            display: inline-block;
            margin-right: 10px;
        }

    .one-collection_edit .collections__sort_item {
        margin-right: 0;
    }

        .one-collection_edit .collections__sort_item:after {
            display: none;
        }

.b-nav__more_new .show-more-posts {
    background-color: #F4F4F4 !important;
}

    .b-nav__more_new .show-more-posts:hover {
        background-color: #C9C9C9 !important;
    }

    .b-nav__more_new .show-more-posts:active {
        background-color: #60A874 !important;
    }

.b-nav__more_new .show-more-posts span {
    background: url(../img/arrow_down.svg) left center no-repeat !important;
}



/* ------------------ Footer ------------------ */
.footer {
    margin-top: 0 !important;
    padding: 50px 0 95px !important;
}

.footer .logo {
    width: 90px !important;
    height: 65px !important;
    background-size: contain;
}
.footer__container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 20px 0;
    position: relative;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.footer__section_second {
    margin-left: 40px;
}


    .footer__section_logo {
        position: absolute;
        left: -190px;
        top: 0;
    }

        .footer__section_logo .logo {
                margin-right: 0 !important;
        }

    .footer__header {
        font-family: 'DrukCyr', sans-serif !important;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-bottom: 0;
        padding-bottom: 18px;
    }

    .footer__header_big {
        text-transform: uppercase;
    }

        .footer__header svg {
            display: inline-block;
            margin-right: 15px;
        }

    .footer__menu li {
        margin-bottom: 10px;
    }

        .footer__menu li a {
            text-transform: uppercase;
            font-family: 'DrukCyr', sans-serif !important;
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            border-bottom: 3px solid transparent;
        }

        .footer__menu li a:hover,
        .footer__menu li a:active {
            border-bottom: 3px solid #000;
        }

    .footer__menu_connection_text {
        font-family: 'DrukCyr', sans-serif !important;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 5px !important; 
        padding-bottom: 0;
    }

    .footer__menu_connection_link {
        text-decoration: none;
        display: block;
        margin-bottom: 13px;
        font-size: 12px;
    }

        .footer__menu_connection_link:hover,
        .footer__menu_connection_link:active {
            text-decoration: underline;
        }

    .footer__bottom_text {
        margin-bottom: 30px;
        font-family: 'helioscondregular', sans-serif;
        font-size: 12px;
    }
.hide_desktop {
    display: none !important;
}


/* ------------------ Cookies ------------------ */ 
.bottom__cookies {
    background: #D9D9D9;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

.bottom__cookies.closed {
    display: none;
}

    .bottom__cookies_text {
        margin-right: 45px;
        font-family: 'DrukCyr', sans-serif;
        padding-bottom: 0;
        font-weight: 600;
    }

    .bottom__cookies a:hover,
    .bottom__cookies a:active {
        text-decoration: none;
    }

    .bottom__cookies button {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: transparent;
        text-transform: uppercase;
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 16px;
    }

    .bottom__cookies button:hover,
    .bottom__cookies button:active {
        background: #fff;
    }

/* ------------------ Forms ------------------ */

.container-form {
    padding-bottom: 100vh;
}

.form_wrap {
    background-color: #F1F1F1;
    padding: 70px 20px;
    max-width: 860px;
    margin: 30px auto 0;
}

.form_wrap.form__add_wrap {
    padding: 30px 0 0 0 ;
}

    .form  {
        max-width: 540px;
        margin: 0 auto;
    }

    .form_wrap_inside {
        max-width: 580px;
        margin: 0 auto;
    }

    .form_wrap_short .form {
        max-width: 370px;
    }

    .form_header {
        text-align: center;
        font-family: 'Druk-Text-Cyr-Bold', sans-serif;
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 30px;
    }

    .form_header_margin {
        margin-bottom: 70px;
    }

    .form_header_left {
        text-align: left;
    }

    label.form_header {
        margin-bottom: 20px;
        display: block;
    }
    

    .form_short-text,
    .form_short-text span {
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 12px;
        text-align: center; 
    }

    .form_short-text_margin,
    .form_short-text_margin span {
        margin-bottom: 20px;
    }

    .form_short-text_left {
        text-align: left !important;
    }

    .form_wrap input,
    .form_wrap .autorization_aside {
        background-color: #F1F1F1;
        height: 50px;
        color: #020202;
        border: 1px solid #CACACA;
        transition: background-color .3s .1s;
    }

    .form_wrap input {
        padding: 15px !important;
        font-family: 'RobotoMono' !important;
        text-transform: none;
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .form_wrap .error {
        display: block;
        color: #DC1515;
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 12px;
    }

    .form_wrap .form__field {
        margin-bottom: 20px;
    }

    .form_wrap .form__field_short {
        width: 48%;
        margin-bottom: 5px;
    }

    .form__field_short input {
        width: 100%;
    }

    .form_long-input {
        width: 100%;
    }

    .form_short-input-long {
        width: 70%;
    }

    .form_wrap button,
    .form_link,
    .form_wrap a.form_link_short {
        max-width: 265px;
        height: 50px;
        width: 50%;
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: #D9D9D9;
        border: none;
        font-family: 'Druk-Text-Cyr-Bold', sans-serif !important;
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color .3s .1s;
    }

    .form_wrap .form_button_long button,
    .form_wrap a.form_link {
        max-width: 100%;
        width: 100%;
    }

    .form_wrap a.form_link.form_link_medium {
        width: 60%;
    }
    

    .form_wrap button:hover,
    .form_link:hover {
        background-color: #C9C9C9;
    }

    .form_wrap button:active {
        background-color: #60A874;
    }


        .form_wrap button svg,
        .form_link svg {
            display: inline-block;
            margin-left: 10px;
        }

        .form_wrap .form_short_btn button {
            font-family: 'RobotoMono' !important;
            text-transform: none;
            font-weight: 600;
            font-size: 12px;
            color: #7E7E7E;
            width: 100%;
            margin: 0;
            padding: 0 30px;
        }

        .form_wrap .autorization_aside {
            padding-left: 180px;
            align-items: center;
            display: flex;
            text-decoration: none;
            font-family: 'RobotoMono';
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 20px;
        }

        .form_wrap .autorization_aside:hover,
        .form_wrap .autorization_aside:active,
        .form_wrap input:hover,
        .form_wrap input:active,
        .form_wrap input:focus {
            background-color: #fff;
        }

        .form_wrap .autorization_aside_text {
            font-family: 'RobotoMono';
            font-weight: 600;
            font-size: 12px;
        }

        .form_wrap .autorization_aside svg {
            display: inline-block;
            margin-right: 15px;
        }

    .form__label {
        text-align: left;
        margin: 0 0 15px;
        display: block;
    }

        

    .form__label_gray {
        color: #A5A5A5;
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 12px;
    }

    .form__label_black {
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 14px;
        color: #010101;
    }

    .form_section {
        margin-bottom: 50px;
    }

    .form_section__username {
        margin-bottom: 25px;
    }

    .form_section_margin {
        margin: 0 0 70px
    }

        .form__username_top {
            margin-bottom: 22px;
        }

        .form_success {
            color: #42A068;
            margin-bottom: 60px;
        }

.autorization_no-account {
    margin-top: 70px;
}

.form_simple_link_wrap,
.form__information {
    width: 100%;
    text-align: center;
}

    .form__information {
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 45px;
    }

.form_text {
    margin: 20px 0 60px;
    font-family: 'Spectral';
    font-size: 22px;
}

.form_text_line {
    font-family: 'RobotoMono';
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

    .form_text_line:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 50px;
        border-bottom: 1px dotted #000;
    }

    .form_error {
        color: #C86F6F;
        font-family: 'RobotoMono' !important;
        font-weight: 600;
        font-size: 12px !important;
    }

    .form_text_error {
        color: #DC1515;
    }

    .form_short-text_left span {
        display: inline-block;
        margin-left: 10px;
    }

    .form__info_wrap .form__label span:first-child {
        margin-right: 10px;
        display: inline-block;
    }

    .form__info_wrap .form_status {
        background: #78B67F;
        text-transform: capitalize;
        padding: 5px 10px;
    }

    .form_short-text_left.form_date {
        margin-bottom: 15px;
    }

    .form_expire {
        color: #DC1515;
    }

    .form__link_img {
        text-align: left;
        color: #A5A5A5 !important;
        font-family: 'RobotoMono';
        font-weight: 600;
        font-size: 12px !important;
        text-decoration: none;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

        .form__link_img svg {
            display: inline-block;
            margin-right: 5px;
        }

        .form__link_img span {
            line-height: 14px;
            border-bottom: 1px solid transparent;
        }

        .form__link_img:hover span,
        .form__link_img:active span {
            border-bottom: 1px solid #000;
        }

        .form__link_with-back {
            min-height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D9D9D9;
            text-decoration: none;
        }
        
        .form_simple_link  {
            font-family: 'RobotoMono';
            font-weight: 600;
            font-size: 16px;
        }

            .form__link_with-back svg {
                display: inline-block;
                margin-right: 5px;
            }

            .form__link_with-back span {
                text-transform: uppercase;
                font-family: 'Druk-Text-Cyr-Bold', sans-serif !important;
                font-weight: 700;
                font-size: 18px;
                border-bottom: 1px solid transparent;
            }

            .form__link_with-back:hover span,
            .form__link_with-back:active span {
                border-bottom: 1px solid #000;
            }

                .select {
                    position: relative;
                } 

                    .new-select {
                        display: block; 
                        height: 51px; 
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        width: calc(100% - 20px);
                        max-width: 100%; ;  
                        border: 1px solid #CACACA;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        background-color: #fff; 
                        background-image: url(../img/arrow_select.svg); 
                        background-repeat: no-repeat;
                        background-position: right 1.5em top 50%, 0 0;
                        cursor: pointer;
                        font-family: 'RobotoMono';
                        font-weight: 600;
                        font-size: 12px;
                        color: #7F7F7F
                    }

                    .form__create-collection .new-select {
                        width: 100%;
                    }

                    .form__popup  .form__create-collection .form_description {
                        margin-bottom: 15px;
                    } 

                    .form__popup  .form__create-collection .new-select__list {
                        top: 50px;
                    }

                    .new-select.on {
                        background-image: url(../img/arrow_select_on.svg); 
                    }

                    .new-select:hover { 
                        background-color: #DEE7E9; 
                    }

                    .new-select:focus { 
                        border-color: #fff;
                    } 
                    
                    .new-select__list {
                        position: absolute;
                        top: 52px;
                        left: 0;
                        border: 1px solid #CACACA;
                        cursor: pointer;
                        width: 100%;
                        z-index: 2;
                        background: #fff;
                        user-select: none;
                        font-family: 'RobotoMono';
                        font-weight: 600;
                        font-size: 12px;
                    }
                    
                    .new-select__list.on {
                        display: block;
                    }

                    .new-select__item {
                        height: 40px;
                    }
                    
                    .new-select__item span {
                        display: block;
                        padding: 15px 10px;
                    }
                    
                    .new-select__item span:hover {
                        background-color: #DEE7E9;
                    }

.form__choice {
    display: flex;
    margin-bottom: -30px;
}

    .form__choice .form_header_choice {
        margin-bottom: 20px;
    }

    .custom-radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      .form__choice_label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 80px;
        border-radius: 14px 14px 0 0;
        background-color: #fff;
      }
                
/* ------------------ Popup ------------------ */

.form__popup {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F1F1F1;
    padding: 70px 10px;
    position: relative;
}

    .form__popup form {
        max-width: 370px;
    }

    .form__popup .form_header {
        margin-bottom: 50px;
    }

    .mfp-close-btn-in .mfp-close {
        background-color: transparent !important;
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 0;
        width: 23px;
        height: 23px;
        background-image: url(../img/close.svg);
        background-repeat: no-repeat;
    }

        .mfp-close-btn-in .mfp-close:hover,
        .mfp-close-btn-in .mfp-close:active {
            background-image: url(../img/close_hover.svg);
        }

        .form__popup .form_description {
            margin-bottom: 0;
        }


@media screen and (max-width: 1240px) {
    .header__desktop_logo {
        margin-left: 0;
    }

    .footer__section_logo {
        left: -100px;
    }
}
@media screen and (max-width: 1160px) {
    header .logo {
        width: 120px;
        height: 80px;
        background-size: contain;
        margin-top: 20px;
        margin-right: 10px;
    }
    
    .header__big_right {
        width: calc(100% - 120px);
    }

    .header__right_top,
    .header_left_section {
        gap: 20px;
    }

    header nav {
        width: auto;
    }

    header nav ul li {
        display: inline-block;
        margin: 0 32px 0 0;
    }

    header .search,
    header .search .open-search {
        height: 24px;
        width: 24px;
    }

    .menu-btn {
        display: none;
    }

    .footer__section_logo {
        position: static;
    }

    .footer__section_logo .logo {
        margin-top: 8px;
    }

    .footer__top {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .search-visible header .search-form {
        -webkit-transform: none; 
        -ms-transform: none;
        transform: none;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__right_top {
        position: static;
    }

    .header__top {
        margin-bottom: 30px;
    }

    .footer__section {
        width: 24%;
    }

    .footer__section_second {
        margin-left: 0;
    }
}

@media screen and (max-width: 940px) {
    .menu-btn {
        display: block;
    }

    .header_desktop {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .header__mobile_visible {
        max-width: 650px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    .header__link, .header__projects_header {
        text-align: center;
    }

    header .search {
        margin-top: -5px;
    }

    .menu-btn {
        position: static;
        left: 0;
    }

    .header__mobile .inner {
        margin-left: -5px;
        margin-right: 5px;
    }

    .menu-open .header__mobile .inner {
        margin-right: -20px;
    }

    .header__account_list {
        display: block;
        background: transparent;
    }
}

@media screen and (max-width: 860px) {
    .footer__section_logo {
        position: static;
    }

    .footer__section {
        width: 24%;
    }

    .post-meta__faves {
        left: -60px;
    }

    .bottom__cookies {
        min-height: 135px;
        height: auto;
        flex-direction: column;
    }

        .bottom__cookies_text {
            margin-right: 0;
            margin-bottom: 20px;
        }

    .footer__section_logo {
        width: 100%;
        display: flex;
        margin-bottom: 35px;
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .form_wrap .autorization_aside {
        padding-left: 0;
        justify-content: center;
    }

    .footer__section {
        width: 50%;
        margin-bottom: 50px;
        
    }

    .footer__section_logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .post-meta__faves {
        position: static !important;
        margin: 0 auto;
        margin-top: 20px;
    }

    
}
@media screen and (max-width: 570px) {
    .collections__item img {
        aspect-ratio: 4 / 1.5;
    }
}

@media screen and (max-width: 480px) {
    .post-title {
        text-align: center !important;
        font-size: 36px !important; 
    }

    header .search {
        margin-top: -30px;
    }  
    
    .form__popup {
        padding: 70px 0 50px !important;
    }

    .form__popup.form__add_wrap {
        padding: 70px 0 0 0 !important;
    }

    .form__popup .form {
        padding: 0 20px;
    }

    .new-select {
        padding: 0;
        padding-left: 10px;
        width: calc(100% - 10px);
    }

    .bottom__cookies_text {
        max-width: 50%;
        text-align: center;
    }

    .footer__section_hide {
        display: none;
    }

    .collections__top {
        display: block;
    }

    .collections__top .collections__top_link:first-child {
        margin-right: 0;
    }

    .collections__sort,
    .one-collection_wrap {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto 20px;
        min-width: 285px;
    }

        .collections__sort_item {
            max-width: 20%;
            margin-left: 20px;
            margin-right: 0;
        }

        .collections__sort_item:after {
            left: -20px;
        }

        .one-collection_edit {
            width: 100%;
            justify-content: center;
        }

        .one-collection_edit .collections__sort_item {
            margin-left: 0;
        }

        .collections__item img {
            aspect-ratio: 4 / 2.5;
        }

        .collections__item {
            padding-bottom: 15px;
        }
    
        .collections__item:after {
            height: calc(100% - 15px);
        }

    .collections__sort_header {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .collections__top .collections__top_link {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .show-more-posts {
        width: 90%;
        margin: 0 auto;
    }
    .footer {
        padding: 45px 0 45px !important;
    }

    .footer__container {
        padding: 0 20px;
    }

    .footer__header {
        display: none;
    }

    .footer__bottom_text {
        text-align: center;
    }

    .footer__section,
    .footer__top {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 0;
    }

    .container-form {
        padding-bottom: 100px;
    }

    .form_wrap,
    .form_wrap .form {
        max-width: 100%;
    }

    .form_text_line:after {
        position: relative;
        display: block;
        top: 35px;
    }
    .mfp-close-btn-in .mfp-close {
        right: 20px;
        width: 23px !important;
    }

    .form_wrap button, .form_link, 
    .form_wrap a.form_link_short {
        max-width: 100%;
        width: 100% !important;
    }

    .form_short .form_short_btn button {
        width: 35% !important;
    }

    .form_wrap .form__field_short {
        width: 100%;
    }

    .form_link_text {
        font-size: 15px;
    }

    .form_short-input-long {
        width: 100%;
    }

    .hide_desktop {
        display: block;
        padding-top: 20px;
        margin: 0 auto;
    }

    .hide_mobile { 
        display: none !important;
    }

    .hide_desktop time,
    .hide_desktop .rubric,
    .hide_desktop .meta {
        width: 100% !important;
        text-align: center;
        margin-top: 5px;
        margin-left: 0 !important;
    }

    .footer__section_logo {
        margin-bottom: 45px;
    }

    .footer__section_logo .logo {
        margin: 0 auto !important;
    }

    .mobile_text-center div,
    .mobile_text-center a {
        text-align: center !important;
    }
}